
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


  table {
    table-layout: fixed;
  }
.tr-style, .tdSort{
  cursor: pointer;
}
.tdSort {
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.overlayModal-st {
  width: 100%;
  height: 100%;
  background: #333;
  position: absolute;
  opacity: 0.5;
}

.modal-st {
  width: 33%;
  height: 33%;
  display: block;
  position: absolute;
  border: 2px solid #655d62;
  margin: 13% 0 0 35%;
  background: #fff;
  padding: 1em;
}

.close-modal-st{
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}



@media (max-width: 700px) { 
  .modal-st {
    width: 50%;
    height: 30%;
    margin: 40% 0 0 20%;
  }
  
}

@media (max-width: 620px) {
  table {
    font-size: 11px;
  }
}